.gridContainer {
    margin: auto;
    margin-top: 70px;
    width: 100%;
  }
  
  .tableContainer {
    overflow-x: auto;
  }
  
  .tableHeader {
    background-color: goldenrod;
    color: white;
    font-weight: bold;
    font-size: xx-large;
  
  }
  
  .tableRow {
    border-bottom: 1px solid;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

  }
  
  .tableRow:hover {
    background-color: #f5f5f5;
  }
  
  .tableContainer table {
    border-collapse: collapse;
  }
  
  .tableContainer th,
  .tableContainer td {
    border: 1px solid ;
    padding: 5px;
    border-bottom: 1px solid ;
   
  }

 
